[run]
source =
    game
    test_proyecto
omit =
    env/*
    /test
    */__init__.py
[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    print
    if _name_ == '__main__':
    def suite
    _str_         